/* resetCSS */
* {
    margin: 0;
    padding: 0;
}

/* 共通 */
.wrapper {
    width: 600px;
    margin: 0 auto;
}

/* clearfix */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header */
.header {
    height: 150px;
    background-color: #ffff00;
}

/* content-top */
.item {
    height: 150px;
    width: 200px;
    float: left;
}

.item-1 {
    background-color: #33ffff;
}

.item-2 {
    background-color: #ff0000;
}

.item-3 {
    background-color: #0000ff;
}

/* content-bottom */
.content-bottom-left {
    float: left;
    height: 150px;
    width: 450px;
    background-color: #00ff00;
}

.content-bottom-right {
    float: right;
    height: 150px;
    width: 150px;
    background-color: #ff00ff;
}

/* footer */
.footer {
    height: 150px;
    width: 600px;
    background-color: #33ffff;
}