* {
    padding: 0;
    margin: 0;
}

/* 共通クラス */
.wrapper {
    width: 400px;
    margin: 0 auto;
}

/* clearfix */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header */
.header {
    height: 100px;
    background-color: #141f40;
}

/* contents */
.contents {
    height: 250px;
}

.left {
    float: left;
    width: 150px;
    height: 100%;
    background-color: #80bfa8;
}

.right {
    float: right;
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}

.center-top {
    height: 50px;
    background-color: #dbd400;
}

.center-middle {
    height: 100px;
    background-color: #0093b7;
}

.center-right {
    height: 100px;
    background-color: #8c2727;
}

/* footer */
.footer {
    height: 100px;
    background-color: #d98d30;
}